{% extends 'converter/base.html' %}

{% block title %}История конвертаций{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">История конвертаций</h3>
            </div>
            <div class="card-body">
                {% if history %}
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Дата</th>
                                    <th>Из валюты</th>
                                    <th>Сумма</th>
                                    <th>В валюту</th>
                                    <th>Сконвертированная сумма</th>
                                    <th>Использованный курс</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in history %}
                                <tr>
                                    <td>{{ item.timestamp }}</td>
                                    <td>{{ item.from_currency.code }}</td>
                                    <td>{{ item.amount }}</td>
                                    <td>{{ item.to_currency.code }}</td>
                                    <td>{{ item.converted_amount }}</td>
                                    <td>{{ item.rate_used }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% else %}
                    <p>Ваша история конвертаций пуста.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}